<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<title></title>
		<link rel="stylesheet" type="text/css" href="libs/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="libs/ionic/css/ionic.min.css"/>
		<link rel="stylesheet" type="text/css" href="src/css/index.css"/>
		
		<script src="libs/ionic/js/ionic.bundle.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="libs/jquery/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="src/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="src/js/angular.global.js" type="text/javascript" charset="utf-8"></script>
		<script src="src/js/index.js" type="text/javascript" charset="utf-8"></script>
		
	</head>
	<body ng-app="myApp">
		<ion-side-menus>
			<!-- 中间内容 -->
			<ion-side-menu-content ng-controller="myContCtrl" drag-content="false">
				<!--header-->
				
				<ion-header-bar align-title="center" class="bar-positive">
					<div class="buttons">
					    <button class="button button-icon icon ion-navicon" ng-click="toggleLeft()"></button>
					</div>
					<h1 class="title span_title" >
						<span ng-repeat="k in span" ng-bind="k" ng-click="spanClick($index)"></span>
					</h1>
					<div class="buttons">
					    <button class="button button-clear button-icon" ng-click="toggleRigth()">Edit</button>
					</div>
				</ion-header-bar>
				
				<ion-content>
					<ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()"></ion-refresher>
					<ion-slide-box show-pager="false" on-slide-changed="slideHasChanged(index)" >
						<ion-slide >
							<div class="box1">
								<div class="box_lsit" ng-repeat="k in temp1">
									<div class="box_list01">
										<div class="list01_01">
											<div class="touxiang">
												<a ng-click="openBox(k.weixin_url)"><img ng-src="{{k.profile_image}}"></a>
											</div>
											<div class="username">
												<a ng-click="openBox(k.weixin_url)" ng-bind="k.name">为你改ssssssa阿萨大saaa变love</a>
											</div>
										</div>
										<div class="list01_02" ng-bind="k.create_time">
											2016-11-03 07:14:01
										</div>
										<div class="list01_title" ng-bind="k.text">
											 土豪老板过节 随随便便就发400套房1260辆车
										</div>
									</div>
									<div class="box_list02">
										<a href=""><img ng-src="{{k.image0}}"/></a>
										<div class="lovaHate">
											<a href=""><i class="glyphicon glyphicon-thumbs-down"></i><span ng-bind="k.love">60</span></a>
											<a href=""><i class="glyphicon glyphicon-thumbs-up"></i><span ng-bind="k.hate">23</span></a>
										</div>
									</div>
								</div>
							</div>
						</ion-slide>
						<ion-slide >
							<div class="box2">
								<div class="box_lsit" ng-repeat="k in temp2">
									<div class="box_list01">
										<div class="list01_01">
											<div class="touxiang">
												<a ng-click="openBox(k.weixin_url)"><img ng-src="{{k.profile_image}}"></a>
											</div>
											<div class="username">
												<a ng-click="openBox(k.weixin_url)" ng-bind="k.name">为你改ssssssa阿萨大saaa变love</a>
											</div>
										</div>
										<div class="list01_02" ng-bind="k.create_time">
											2016-11-03 07:14:01
										</div>
										<div class="list01_title" ng-bind="k.text">
											 土豪老板过节 随随便便就发400套房1260辆车
										</div>
									</div>
									<div class="box_list02">
										
										<div class="lovaHate">
											<a href=""><i class="glyphicon glyphicon-thumbs-down"></i><span ng-bind="k.love">60</span></a>
											<a href=""><i class="glyphicon glyphicon-thumbs-up"></i><span ng-bind="k.hate">23</span></a>
										</div>
									</div>
								</div>
							</div>
						</ion-slide>
						<ion-slide >
							<div class="box3">
								<div class="box_lsit" ng-repeat="k in temp3">
									<div class="box_list01">
										<div class="list01_01">
											<div class="touxiang">
												<a ng-click="openBox(k.weixin_url)"><img ng-src="{{k.profile_image}}"></a>
											</div>
											<div class="username">
												<a ng-click="openBox(k.weixin_url)" ng-bind="k.name"></a>
											</div>
										</div>
										<div class="list01_02" ng-bind="k.create_time"></div>
										<div class="list01_title" ng-bind="k.text"></div>
									</div>
									<div class="box_list02">
										<a href=""><img ng-src="{{k.image3}}"/></a>
										<div class="boxradio">
											<audio controls loop="loop">
												<source ng-src="{{k.voice_uri | trusted}}">
											</audio>
										</div>
										<div class="lovaHate">
											<a href=""><i class="glyphicon glyphicon-thumbs-down"></i><span ng-bind="k.love">60</span></a>
											<a href=""><i class="glyphicon glyphicon-thumbs-up"></i><span ng-bind="k.hate">23</span></a>
										</div>
									</div>
								</div>
							</div>
						</ion-slide>
						<ion-slide >
							<div class="box4">
								<div class="box_lsit" ng-repeat="k in temp4">
									<div class="box_list01">
										<div class="list01_01">
											<div class="touxiang">
												<a ng-click="openBox(k.weixin_url)"><img ng-src="{{k.profile_image}}"></a>
											</div>
											<div class="username">
												<a ng-click="openBox(k.weixin_url)" ng-bind="k.name"></a>
											</div>
										</div>
										<div class="list01_02" ng-bind="k.create_time"></div>
										<div class="list01_title" ng-bind="k.text"></div>
									</div>
									<div class="box_list02">
										<div class="boxradio">
											<video src="{{k.video_uri | trusted}}" controls="controls">
												您的浏览器不支持 video 标签。
											</video>
										</div>
										<div class="lovaHate">
											<a href=""><i class="glyphicon glyphicon-thumbs-down"></i><span ng-bind="k.love">60</span></a>
											<a href=""><i class="glyphicon glyphicon-thumbs-up"></i><span ng-bind="k.hate">23</span></a>
										</div>
									</div>
								</div>
							</div>
						</ion-slide>
					</ion-slide-box>
					<ion-infinite-scroll on-infinite="loadMore()" distance="1%" ></ion-infinite-scroll>
				</ion-content>
				
				
				
				<!--footer-->
				<ion-footer-bar align-title="left" class="bar-positive">
					<div class="buttons">
						<button class="button">左侧按钮</button>
					</div>
					<h1 class="title">Title!</h1>
					<div class="buttons" ng-click="doSomething()">
						<button class="button">右侧按钮</button>
					</div>
				</ion-footer-bar>
				<div class="shadowAll">
					<div class="shadowBox"></div>
					<div class="shadowContent">
						<ion-scroll class="shadowscroll">
							<iframe src="" width="100%" height="500px" frameborder="0"></iframe>
						</ion-scroll>
					</div>
					<div class="shadowclose" ng-click="closeBox()">
						<h2>click here to close</h2>
					</div>
				</div>
			</ion-side-menu-content>
		
			<!-- 左侧菜单 -->
			<ion-side-menu side="left">
			</ion-side-menu>
		
			<!-- 右侧菜单 -->
			<ion-side-menu side="right">
			</ion-side-menu>
		</ion-side-menus>
		
	</body>
</html>
